html{
    background-color: #DBD3D8;
          font-family: "Edu NSW ACT Hand Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

#main-container{
    background-color: #EFF1F3;
    height: 700px;
    border: 10px solid black;
    border-radius: 2%;
    
}


#menu{
    height: 5%;
    width: 40%;
    position: relative;
    top: 4%;
    left: 30%;
    display: inline block;
    text-align: center;
   
}

a{  
    
    display: inline-block;
    margin: 10px;
    height: 20px;
    
}

#context{
    position: relative;
    top: 35%;
    text-align: center;

}